@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --home_color: #181d25;
    --container_color: #222831;
    --bg_color: #393E46;
    --sec_color: #fd8f44;
    --text_color: #EEEEEE;
    --progBarValue: 0%;
}

body {
    background-color: var(--bg_color);
}

h1{
    color: var(--sec_color); 
    margin: 20px 0;
}

.video_container {
    display: contents;
    border: 2px solid blue;
    position: relative;
}

#video {
    border: 2px solid green;
    position: absolute;
    z-index: 0;
    border-radius: 1rem;
}

#canvas1 {
    position: relative;
    z-index: 1;
}

.output_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#canvas2 {
    border: 2px solid black;
    height: 280px;
    width: 280px;
    border-radius: 1rem;
}

.output_container div {
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.output_container div span {
    color: var(--sec_color);
    font-size: 17rem;
    font-weight: 600;
    padding: 0 5rem;
}

.btn-block {
    padding: 2rem;
    justify-content: space-evenly;
}

/* button css */
.btn-block a {
    width: 250px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--sec_color) !important;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn-block a:hover {
    color: white !important;
    background-color: var(--sec_color);
    box-shadow: white 0 4px 8px, var(--sec_color) 0 7px 13px -3px, var(--sec_color) 0 -3px 0 inset;
    transform: translateY(-2px);
}

/* Progress bar creation and animation */
#progress_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress_container{
    max-width: 90%;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 90%;
}

.progress-value {
    animation: load 2s ease-out forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: var(--sec_color);
    height: 13px;
}

@keyframes load {
    0%{width: 0;}
    100%{width: var(--progBarValue);}
}

.prog_text{
    color: white;
    width: 5%;
    text-align: center;
    font-weight: 600;
}

.btn-block {
    padding: 2rem;
    justify-content: space-evenly;
}